[Desktop Entry]
Name=Clipboard History
Comment=Shows clipboard history in the COSMIC panel
Type=Application
Exec=clipboard-applet
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Clipboard;
Icon=edit-paste-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
